* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;

  font-size: 14px;
  color: #484848;
  text-decoration: none;
  outline: none;
  background-color: #fff;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}
textarea {
  overflow: hidden;
}
.slick-dots li button:before {
  color: white !important;
}
/* .Custom__Container {
	max-width: 1400px;
	margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  
} */
/* .pt-5, .py-5 {
  padding-top: 3rem!important;}
.pb-5, .py-5 {
  padding-bottom: 3rem!important;} */


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.Custom__Container {
		max-width: 576px;
	}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
